<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상담사 프로필 페이지</title>
    <link rel="stylesheet" href="/css/profile/dashboard.css">
    <style>
        .guestbook-container {
            background: #fff;
            border-radius: 20px;
            border: 1px solid #D6D7DA;
            padding: 40px;
            margin-bottom: 20px;
            position: relative;
        }
        .guestbook-container-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #D6D7DA;
        }
        .guestbook-container h2 {
            font-weight: 700;
            font-size: 28px;
            color: black;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="profile-container">
            <%- include('./profile_components/profile_card') %>
        </div>
        <div class="content-container">
            <div class="guestbook-container">
                <!-- 방명록 헤더 -->
                <div class="guestbook-container-header">
                    <h2><%= counselorUser.nickname %> 상담사가 쓴 방명록</h2>
                </div>
                <!-- 방명록 목록 -->
                <div class="guestbook-list">
                    <!-- TODO: 수정해주기 -->
                    <%- include('../guestbook/guestbooks', { guestbooks: guestbooks, showCounselorInfo: false, currentPage: currentPage }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
