<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상담사 프로필 페이지</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/css/profile/dashboard.css">
    <style>
        .guestbook-container {
            background: #fff;
            border-radius: 10px;
            border: 1px solid #D6D7DA;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="profile-container">
            <%- include('./profile_components/profile_card') %>
        </div>
        <div class="content-container">
            <%- include('./profile_components/guestbook_list') %>
        </div>
    </div>
</body>
</html>
