<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방명록 페이지</title>
    <link rel="stylesheet" href="/css/profile/dashboard.css">
    <style>
            .guestbook-container {
                background: #fff;
                border-radius: 20px;
                border: 1px solid #D6D7DA;
                padding: 40px;
                margin-bottom: 20px;
                position: relative;
            }
            .guestbook-container-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 16px;
                border-bottom: 1px solid #D6D7DA;
            }
            .guestbook-container h2 {
                font-weight: 700;
                font-size: 28px;
                color: black;
                margin: 0;
            }
            .guestbook {
                margin-top: 10px;
                border-bottom: 1px solid #D6D7DA;
            }       
            .guestbook-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .guestbook-title h3 {
                margin: 8px 0;
                font-size: 20px;
                font-weight: 700;
            }
            .guestbook-title span {
                font-size: 18px;
                color: #888;
            }
            .guestbook p {
                font-size: 20px;
            }
            .counselor-info {
                display: flex;
                align-items: center;
                margin: 20px 0;
            }
            .counselor-info img {
                border-radius: 50%;
                border: 1px solid #D6D7DA;
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
            .counselor-info .counselor-name {
                font-size: 18px;
                font-weight: bold;
            }
            .write-guestbook-button {
                padding: 10px 20px;
                background-color: #5FD068;
                color: white;
                border: none;
                border-radius: 16px;
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="profile-container">
            <%- include('./profile_components/profile_card') %>
        </div>
        <div class="content-container">
            <div class="guestbook-container">
                <!-- 방명록 헤더 -->
                <div class="guestbook-container-header">
                    <h2>방명록 전체보기</h2>
                    <button class="write-guestbook-button" id="writeGuestbookButton">방명록 작성</button>
                    <!-- TODO: 세션에 저장된 사용자 정보에 따라 다르게 뜨도록 처리하기 -->
                </div>
                <!-- 방명록 목록 -->
                <div class="guestbook-list">
                    <%- include('../guestbook/guestbooks', { guestbooks: guestbooks, showCounselorInfo: true }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

