<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>환자 프로필 페이지</title>
    <link rel="stylesheet" href="/css/profile/dashboard.css">
    <style>
        .chart-container, .diary-container, .guestbook-container {
            background: #fff;
            border-radius: 20px;
            border: 1px solid #D6D7DA;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="profile-container">
            <%- include('./profile_components/profile_card') %>
        </div>
        <div class="content-container">
            <!-- TODO: 차트 넣기 -->
            <%- include('./profile_components/diary_preview', { diaries: diaries }) %>
            <%- include('./profile_components/guestbook_preview') %>
        </div>
    </div>
</body>
</html>
