//버전 관리 시스템
//주석 처리할 경우 필요한 파일임
.git
//.gitignore //확실X

//의존성
node_modules

//로그 파일
npm-debug.log
yarn-debug.log
yarn-error.log

//환경 설정 파일
.env 

//기타 불필요한 파일
README.md
Dockerfile
.dockerignore

//테스트 관련 파일 (필요하다면 주석 처리)


//개발 도구 설정
.vscode
.idea

//라이센스
//LICENSE

//Python 관련 파일 (필요하다면 주석 처리)
//python
//__pycache__

//서비스 계정 키 (보안상 이미지에 포함하지 않는 것이 좋습니다)
serviceAccountKey.js
