
<head>
<style>
    body { margin: 0; background: #F4F5F8; }
    .container { display: flex; flex-direction: column; margin: auto; max-width: 1080px; padding: 30px; }
    .menu { display: flex; padding-bottom: 20px; }
    .menu-item { cursor: pointer; padding: 10px 20px; color: #333; font-weight: bold; font-size: 16px; }
    .menu-item.active { border-bottom: 2px solid #4B8673; color: #4B8673; }
</style>
</head>

<body>
<div class="container">
    <div class="menu">
        <div class="menu-item active" id="all">전체 일기</div>
        <div class="menu-item" id="scrapted">관심등록 환자의 일기</div>
        <div class="menu-item" id="commented">최근 방명록 단 일기</div>
    </div>
    <div class="content-container">
        <%- include('./diary/diaries') %>
    </div>

</div>
</body>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const menuItems = document.querySelectorAll('.menu-item');

    // URL에서 쿼리 파라미터 값을 가져오기
    const urlParams = new URLSearchParams(window.location.search);
    const option = urlParams.get('option') || 'all'; // option 값이 없으면 기본값 'all' 설정

    // 초기 활성화 상태 설정
    menuItems.forEach(item => {
        if (item.id === option) { item.classList.add('active'); } 
        else { item.classList.remove('active'); }
    });

    menuItems.forEach(item => {
        item.addEventListener('click', function() {

            const option = this.id;
            window.location.href = `/diary?option=${option}`; // 새 페이지로 이동
        });
    });
});

</script>