<!-- 상담사가 작성한 아티클 전체보기(프로필) -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상담사 아티클 전체보기</title>
    <link rel="stylesheet" href="/css/profile/dashboard.css">
</head>
<body>
    <div class="main-container">
        <div class="content-container">
            <%- include('./list-component', { Previews: articles }) %>>

        </div>
    </div>
</body>
</html>
