<head>
<style>
    * { box-sizing: border-box; }
    body { margin: 0; background: #F4F5F8; }
    .articles { display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: auto; 
        max-width: 1080px; margin-bottom: 16px; padding: 30px;}

    .sort-combobox { margin-left: 20px; margin: 10px; display: flex; justify-content: flex-start; width: 100%;}
    .button-container { display: flex; justify-content: flex-end; width: 100%; margin-bottom: 20px; }
    .info-container { display: flex; justify-content: flex-start; width: 100%; margin-top: 20px;}
    .button-link { background-color: #5FD068; padding: 7px 13px; border-radius: 10px;
        border: 1px solid #ccc; color: white; text-decoration: none; display: inline-block; text-align: center; }
    .button-link:hover { background-color: #4caf50; color: white; }
</style>
</head>

<div class="articles">
    <% if (user && user.role === 'counselor') { %>
    <div class="button-container">
        <a href="/article/new" class="button-link">아티클 작성</a>
    </div>
    <% } %>
    <% if (user && user.role === 'patient') { %>
    <div class="button-container">
        <a href="/profile/patient/<%= user.custom_id %>/article" class="button-link">내가 저장한 아티클 보러가기</a>
    </div>
    <% } %>

    <% if (user && user.role === 'patient') { %>
        <div class="info-container"> 
            <p>회원님의 추천 아티클</p> 
        </div>
        <%- include('./recommend-list-component') %>
        <hr style="margin-top: 20px; margin-bottom: 20px color: darkgray">
    <% } %>

    <div class="sort-combobox">
        <label for="theme_id">정렬 선택: </label>
        <select id="sortSelect" onchange="searchPosts()" style="margin-left: 10px;">
            <option value="latest">최신순</option>
            <option value="views">조회순</option>
            <option value="likes">좋아요순</option>
            <option value="bookmarks">북마크순</option>
        </select>
    </div>   
    <%- include('./list-component') %>
</div>

<script>
    function searchPosts(page) {
        const sortValue = document.getElementById("sortSelect").value;
        window.location.href = `/article?sort=${sortValue}`;
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        setSortByFromQuery();
    });
    function setSortByFromQuery() {
        const urlParams = new URLSearchParams(window.location.search);
        const sortBy = urlParams.get('sort');
        const sortSelect = document.getElementById('sortSelect');

        if (sortBy) {
            sortSelect.value = sortBy;
        }
    }

</script>
