.content-container {
    display: flex;
}

.head {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 124px;
    height: 70px;
    width: 75vh;
    padding-top: 16px;
    background-color: white;
}

.left{
    position: fixed;
    width: 42%;
    height: 96vh;
}

.right {
    margin-left: 50%;
    width: 50%;
    padding-top: 38px;
}

.btn {
    background-color: #5FD068;
    color: white;
}

.input-group {
    position: absolute;
    z-index: 1;
    padding: 17px;
}
.map {
    width: 100%;
    height: 80%;
    border-radius: 30px;
}

.comment {
    background-color: #F4F5F8;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
}

.hospital {
    display: flex;
    align-items: baseline;
}

.hospital > h4 {
    padding-right: 10px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo {
    width: 50px; /* 원하는 크기로 설정 */
    height: 50px; /* 원하는 크기로 설정 */
    border-radius: 50%; /* 둥근 모서리 설정 */
    object-fit: cover; /* 이미지 비율 유지 및 잘림 방지 */
    border: 2px solid #ddd; /* 선택 사항: 테두리 추가 */
    margin-right: 10px;
}

.review {
    margin-top: 20px;
}