<style>
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    label {
        font-size: 14px;
        color: black;
        margin-bottom: 8px;
    }
    input[type="password"], input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #D6D7DA;
        border-radius: 12px;
        font-size: 16px;
    }
    .btn-container {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
    }
    .save-button {
        background-color: #5FD068;
        color: white;
        border: none;
        padding: 4px 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
    .save-button:hover {
        background-color: #45a049;
    }
    .save-button:disabled {
        background-color: #E4E5EA;
        color: #A1A4AC;
        cursor: not-allowed;
    }
</style>


<div class="form-group">
    <label for="checkPassword">비밀번호 학인</label>
    <input type="password" id="password" >
</div>
<div class="btn-container">
    <button type="button" class="save-button" id="saveButton" disabled>탈퇴하기</button>
</div>

<script>
    const saveButton = document.getElementById('saveButton');
    const password = document.getElementById('password');

    // 버튼 활성화 상태 관리
    password.addEventListener('input', () => {
        saveButton.disabled = !password.value.trim();
    });

    // 탈퇴하기 버튼 눌렀을 때 실행됨
    saveButton.addEventListener('click', function() {

        // 비밀번호를 서버로 전송하여 탈퇴 요청
        sendDataToServer({
            password: password.value
        });
    })

    // 서버로 데이터 POST하는 함수
    function sendDataToServer(data) {
        fetch('/profile/settings/accountRemoval', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('탈퇴 완료');
                window.location.href = '/';
            } else {
                alert(data.message);
                window.location.reload();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


</script>
