<style>
  .form-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px;
  }
  label {
      width: 160px;
      margin-right: 10px;
      font-size: 14px;
      color: black;
      margin-bottom: 5px;
  }
  input[type="password"], input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #D6D7DA;
      border-radius: 12px;
      font-size: 16px;
  }
  .btn-container {
      margin-top: 80px;
      display: flex;
      justify-content: flex-end;
  }
  .btn-save {
      background-color: #5FD068;
      color: white;
      border: none;
      padding: 4px 8px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
  }
  .btn-save:hover {
      background-color: #45a049;
  }
</style>


<div class="form-group">
  <label for="checkPassword">비밀번호 학인</label>
  <input type="password" id="checkPassword" name="checkPassword" required>
</div>
<div class="btn-container">
  <button type="button" class="btn-save">탈퇴하기</button>
</div>


