<style>
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    label {
        font-size: 14px;
        color: black;
        margin-bottom: 8px;
    }
    input[type="password"], input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #D6D7DA;
        border-radius: 12px;
        font-size: 16px;
    }
    .error {
        margin-top: 4px;
        color: #f86550;
        font-size: 12px;
        /* display: none; */
    }
    .forgot-password {
        margin-top: 60px;
    }
    .forgot-password a {
        color: #4CAF50;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }
    .forgot-password a:hover {
        text-decoration: underline;
    }
    .btn-container {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
    }
    #saveButton {
        background-color: #5FD068;
        color: white;
        border: none;
        padding: 4px 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
    #saveButton:hover {
        background-color: #45a049;
    }
    #saveButton:disabled {
        background-color: #E4E5EA;
        color: #A1A4AC;
        cursor: not-allowed;
    }
</style>


<div class="form-group">
    <label for="currentPassword">현재 비밀번호</label>
    <input type="password" id="currentPassword">
    <div id="currentPasswordError" class="error">에러!!</div>
</div>
<div class="form-group">
    <label for="newPassword">새 비밀번호</label>
    <input type="password" id="newPassword">
    <div id="newPasswordError" class="error">에러~~</div>
</div>
<div class="form-group">
    <label for="confirmNewPassword">새 비밀번호 확인</label>
    <input type="password" id="confirmNewPassword">
    <div id="confirmNewPasswordError" class="error">에러~~</div>
</div>
<div class="forgot-password">
    <a href="">비밀번호를 잊으셨나요?</a>
</div>
<div class="btn-container">
    <button type="button" id="saveButton" disabled>수정 완료</button>
</div>


