<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Comma - 로그인 필요</title>
    <style>
        body {
            font-family: 'Pretendard-Regular', sans-serif;
        }
        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #4B8673;
        }
        p {
            margin-bottom: 20px;
        }
        .btn-custom {
            display: inline-block;
            padding: 10px 20px;
            background-color: #5FD068;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .btn-custom:hover {
            background-color: #4FBF58;
        }
    </style>
</head>
<body>

    
    <div class="container">
        <h1>로그인이 필요합니다</h1>
        <p>병원 정보를 보기 위해서는 로그인이 필요합니다.</p>
        <a href="/auth/login" class="btn-custom">로그인하러 가기</a>
    </div>

    <%- include('../partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>