<style>
    .guestbook-container {
        background: #fff;
        border-radius: 20px;
        border: 1px solid #D6D7DA;
        padding: 40px;
        margin-bottom: 20px;
    }
    .guestbook-container h2 {
        font-weight: 700;
        font-size: 28px;
        color: black;
        padding-bottom: 16px;
        border-bottom: 1px solid #D6D7DA;
    }
    .guestbook {
        margin-top: 10px;
    }
</style>
<div class="guestbook-container">
    <h2>상담사 방명록</h2>
    <div class="guestbook">
        <p>구체적인 상담내용 세부사항 기재</p>
    </div>
    <div class="guestbook">
        <p>구체적인 상담내용 세부사항 기재</p>
    </div>
</div>
