<style>
    .guestbook-container {
        background: #fff;
        border-radius: 20px;
        border: 1px solid #D6D7DA;
        padding: 40px;
        margin-bottom: 20px;
        position: relative;
    }
    .guestbook-container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #D6D7DA;
    }
    .guestbook-container h2 {
        font-weight: 700;
        font-size: 28px;
        color: black;
        margin: 0;
    }
    .guestbook {
        margin-top: 10px;
    }
    .write-guestbook-button {
        padding: 10px 20px;
        background-color: #5FD068;
        color: white;
        border: none;
        border-radius: 16px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
    .view-all-button {
        display: block;
        width: 100%;
        padding: 16px;
        background-color: #E9F8EA;
        color: #4B8673;
        border: none;
        border-radius: 16px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        margin-top: 40px;
    }
</style>

<div class="guestbook-container">
    <div class="guestbook-container-header">
        <h2>상담사 방명록</h2>
        <button class="write-guestbook-button" id="writeGuestbookButton">방명록 작성</button>
        <!-- TODO: 세션에 저장된 사용자 정보에 따라 다르게 뜨도록 처리하기 -->
    </div>
    <div class="guestbook">
        <p>구체적인 상담내용 세부사항 기재</p>
    </div>
    <div class="guestbook">
        <p>구체적인 상담내용 세부사항 기재</p>
    </div>
    <button class="view-all-button">전체보기</button>

</div>

<script>
    document.getElementById('writeGuestbookButton').addEventListener('click', function() {
        const patientNickname = '<%= patientUser.nickname %>';
        window.location.href = `/guestbook/new/${patientNickname}`;
    });
</script>