<!-- profile_card.ejs -->
<style>
    .profile-card {
            background: #fff; /* 카드 배경색 */
            border-radius: 8px;
            border: 1px solid #D6D7DA;
            padding: 20px;
            margin-bottom: 20px;
        }
    .profile-card .profile-details h2 {
        color: #333; /* 진한 회색 텍스트 */
        margin-bottom: 10px; /* 제목 아래 여백 */
    }
    .profile-card .profile-details p {
        color: #666; /* 중간 회색 텍스트 */
    }
</style>
<div class="profile-card">
    <div class="profile-details">
        <h2>여기 사용자 이름</h2>
        <p>여기 사용자 바이오</p>
    </div>
</div>
